# Python
__pycache__/

# Temp files
*~
[Tt]emp*
[Tt]est*

# External resources
external/*

# Commit file
[Nn]otes.txt
[Cc]ommit[Mm]essage*
[Cc]ommit[Mm]sg*
[Cc]ommit[-_][Mm]essage*
[Cc]ommit[-_][Mm]sg*
